.App {
  text-align: center;
  min-height: 80vh;
  height: inherit;
  padding-top: 15vh;
  overflow-x: hidden;
}

.gameContainers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultContainer {
  margin-top: 10vh;
}

@media screen and (max-width: 480px) {
  .App {
    padding-top: 200px;
  }
}
